@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers&family=Texturina:opsz@12..72&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    scroll-behavior: smooth;
}

:root {
    --title-color:#ccd6f6;
    /*--halycon: #64ffda;*/
    --halycon: #00eeb6;
    --blueBC: #8892b0;
    --paper_color:#8892b0;
    --background_color: #03122b;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #03122b;
    min-height: 100vh;
    color: white;
    font-family: Rubik, sans-serif;
    overflow-x: clip;
}

.experience{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr  4fr;
}

.expDate{
    grid-area: 1 / 1 / 2 / 2;
}

.expTitle{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 800px){

}