@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Babylonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Life+Savers&family=Texturina:opsz@12..72&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
    --background_color: #03122b;
    --background_color: #fff;
    --blueBC: #000;
    --blueBC: #8892b0;
    --halycon: #000;
    --halycon: #00eeb6;
    --halycon: #64ffda;
    --hoverhalycon: #00eeb6;
    --hoverhalycon: #d95e5e;
    --navbarcolor: #000;
    --navbarcolor: #fff
        /*--title-color:#000;
    --paper_color:#8892b0;
    --title-color: #ccd6f6;
    --title-color:#ccd6f6;*/
}

/* ===== from style.css ===== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    scroll-behavior: smooth;
}



#theme_element {
    border: var(--halycon) 1px solid;
    border-radius: 0.1rem;
    border-color: transparent;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--background_color);
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    color: white;
    font-family: Rubik, sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

.nowrap {
    white-space: nowrap;
}

/* Navigation bar */
.topBack {
    background: var(--background_color);
    width: 100vw;
    height: 4rem;
    z-index: 1;
    position: fixed;
    top: 0;
    /*border: #f09d51 1px solid;*/
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    left: 5vw;
    top: 1rem;
    z-index: 3;
    background: var(--background_color);
}

.logo p {
    text-align: center;
    font-size: 0.8rem;
    color: var(--halycon);
    font-family: 'Texturina', monospace;
}

.logo a:hover {
    scale: 0.95;
    rotate: -3deg;
}

.navlogo {
    /*translate: -2rem 0;*/
    display: block;
    position: fixed;
    top: 0.5rem;
}

.navnum {
    display: none;
    color: var(--halycon);
    font-family: 'Texturina', monospace;
}

.navtitle {
    color: var(--navbarcolor);
    font-family: 'PT Mono', monospace;
    margin-left: 2rem;
}

.navcontent {
    display: flex;
    justify-content: flex-end;
    flex-flow: row nowrap;
    width: 100vw;
    position: fixed;
    right: 1rem;
    gap: 1.5rem;
    top: 0;
    z-index: 2;
    background: var(--background_color);
    padding: 0.8rem;
}

.navcontent a {
    color: var(--navbarcolor);
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
    font-size: 0.8rem;
}

.navcontent a:hover {
    color: var(--hoverhalycon);
}

/* hero styles */

.hero {
    /*grid-area: 2 / 1 / 3 / 2;*/
    flex-grow: 1;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 10vw) 3fr repeat(2, 10vw);
    grid-template-rows: repeat(5, 1fr);
    /*border: saddlebrown 2px solid;*/
}

.middleblock {
    grid-area: 1 / 2 / 6 / 5;
    /*border: white 2px solid;*/
    width: 80vw;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.ls2n {
    color: var(--blueBC);
}

.ls2n:hover {
    color: var(--hoverhalycon);
    translate: 0 -0.5rem;
    animation-delay: 0.2s;
}

.sideblock {
    display: grid;
    grid-area: 1 / 1 / 6 / 2;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 50% 50%;
    /*border: white 2px solid;*/
    margin: 0.1rem;
}

.imageblock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3rem;
    align-items: center;
    border: var(--halycon) 1px solid;
    border-color: transparent;
    position: fixed;
    /*top: 60vh;*/
    bottom: 5vh;
    left: 4.5vw;
    padding: 0.5rem;
    border-radius: 0.3rem;
    z-index: 1;
}

.imageblock img {
    width: 1.6vw;
    min-width: 1.6rem;
    height: auto;
}

.imageblock a:hover {
    translate: 0 -0.2rem;
}

.sideblock2 {
    grid-area: 1 / 5 / 6 / 6;
    /*border: white 2px solid;*/
    margin: 0.1rem;
}

.hero h1 {
    font-size: clamp(4.5rem, 2vw, 100vw);
    font-weight: 700;
    color: var(--title-color);
    word-spacing: 0.5rem;
    max-width: 80vw;
}

.hero h1:hover {
    color: var(--hoverhalycon);
    animation-delay: 0.2s;
    translate: 0 -0.1rem;
}

.hero h2 {
    text-align: left;
    color: var(--halycon);
    justify-content: flex-start;
}

.flexbox button {
    text-align: center;
    padding: 1rem;
    border-radius: 0.5em;
    background-color: var(--background_color);
    border-color: var(--halycon);
    color: var(--halycon);
    margin-top: 2rem;
    width: 10rem;
    max-width: 30vw;
    font: 1rem var(--halycon) Rubik, sans-serif;
}

.middleblock .update {
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    font-family: 'Rubik', serif;
    font-size: 1rem;
    text-align: center;
}

.middleblock .update2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Rubik', serif;
    font-size: 1rem;
    text-align: center;
}

.middleblock h2 {
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: var(--blueBC);
}

.middleblock h3 {
    margin-bottom: 0.5rem;
    font-weight: lighter;
    font-size: clamp(1.5rem, 3vw, 3rem);
    color: var(--title-color);
}

.newblock a {
    color: var(--blueBC);
}

.newblock a:hover {
    color: var(--hoverhalycon);
}

.hello {
    color: var(--halycon);
    font-size: 1.6rem;
    font-weight: bolder;
    margin-top: 10%;
}

.flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.displayLoad {
    min-width: 30%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameblock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /*position: sticky;
    top: 2.5rem;*/
    background: var(--background_color);
    z-index: 2;
}

.nameblock h1 {
    font-size: clamp(1.5rem, 5rem, 8vw);
}

.subnameblock h1 {
    font-size: clamp(1.5rem, 5rem, 8vw);
}

.subnameblock {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#small_name {
    position: fixed;
    top: 0.5rem;
    left: 8rem;
    z-index: 2;
    font-size: clamp(1.5rem, 3rem, 8vw);
    color: var(--blueBC);
    display: none;
}


.flexbox button:hover {
    scale: 1.05;
    animation-delay: 0.2s;
}

/* Recent news */
.newblock {
    flex-grow: 1;
    width: 50%;
    max-width: 1400px;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 10vw) 3fr repeat(2, 10vw);
    grid-template-rows: repeat(5, 1fr);
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
    /*border: saddlebrown 2px solid;*/
}

.newblock a {
    color: var(--blueBC);
}

.newblock a:hover {
    color: var(--hoverhalycon);
}

.dropdown {
    animation: growDown 500ms ease-in-out forwards;
    transform-origin: top center
}

.dropdown a {
    color: var(--blueBC);
}

.dropdown a:hover {
    color: var(--hoverhalycon);
}

.dropup {
    animation: growUp 100ms ease-in-out forwards;
    transform-origin: bottom center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}

@keyframes growUp {
    0% {
        transform: scaleY(1)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(0)
    }
}

.recent {
    grid-area: 1 / 2 / 6 / 5;
    /*border: white 2px solid;*/
    width: 80vw;
    max-width: 1400px;
    justify-items: flex-start;
}

.recent:hover {
    cursor: pointer;
}

.recent h3 {
    margin-bottom: 0.5rem;
    font-weight: lighter;
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: var(--title-color);
}


.spacediv {
    display: block;
    width: 50%;
    margin-bottom: 0.5rem;
    border-bottom: var(--halycon) 1px solid;
    translate: 0 -0.2rem;
}

.recent ol {
    display: block;
}

.recent ol li {
    color: var(--blueBC);
    font-size: 0.9rem;
    list-style-position: inside;
    margin-bottom: 1rem;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--background_color);
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.emailBlock {
    height: 0.8rem;
    width: auto;
}

.emailBlock a,
p {
    font-size: 0.65rem;
}

#emailid {
    border: var(--halycon) 1px solid;
    border-radius: 0.1rem;
    border-color: transparent;
}

.emailBlock img {
    height: 100%;
}

/* Profile block*/
.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 6rem;
    /* margin-left: 5vw; */
}

.ls2n a {
    color: var(--blueBC);
}

.ls2n:hover {
    color: var(--hoverhalycon);
}

.profileDetails h2 {
    color: var(--blueBC);
    font-size: 2rem;
    word-spacing: 1rem;
}

.profile img {
    width: 300px;
    /*max-width: 30%;*/
    height: auto;
    border-radius: 50%;
    border: var(--halycon) 2px solid;
    border-spacing: 1rem;
    padding: 0.5rem;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.profile img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.profileDetails {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-top: 2rem;
}

.profileDetails p {
    margin-top: 2rem;
    color: var(--blueBC);
    font-size: clamp(1.1rem, 1.1rem, 2rem);
    line-height: 1.5rem;
    /*font-family: 'PT Mono', monospace;*/
}

.profileDetails h2 {
    color: var(--title-color);
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: normal;
    word-spacing: 1rem;
}

.hovHigh:hover {
    color: var(--hoverhalycon);
}

.buzzword {
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 2rem;
    text-align: justify;
    border: var(--halycon);
    color: black;
    background: var(--blueBC);
    border-radius: 1rem;
    width: min(500px, 80vw);
    padding: 3rem 1rem 3rem 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 auto;
    z-index: 10;
}

.buzzword p {
    font-size: 0.9rem;
    line-height: 1.2rem;
}

.blink {
    animation: border-blink 1s steps(1) 2;
}

@keyframes border-blink {
    0% {
        border-color: var(--halycon);
    }

    50% {
        border-color: transparent;
    }
}

#skills {
    display: none;
    justify-content: center;
    gap: 3rem;
    text-align: left;
}

.desktop_spacer {
    display: block;
    height: 10vh;
}

.spacer_small {
    display: block;
    height: 3vh;
    max-height: 5rem;
    min-height: 1rem;
}

#profile-pic {
    content: url("/projects/main/webpage_resources/images/profile_pic.jpeg");
    transition: 0.3s ease-in-out;
}

#profile-pic:hover {
    content: url("/projects/main/webpage_resources/images/profile_pic_nino.png");
}

@media only screen and (max-width: 576px) {

    .logo {
        left: 2vw;
        top: 0.5rem;
    }

    .navnum {
        display: none;
    }

    .imageblock {
        position: fixed;
        bottom: 5vh;
        left: 1vw;
    }

    .navtitle {
        display: none;
    }

    .navlogo {
        display: block;
        position: fixed;
        top: 0.5rem;
    }

    .navcontent {
        display: flex;
        flex-flow: row nowrap;
        max-width: 85vw;
        position: fixed;
        right: 2vw;
        justify-content: space-between;
        z-index: 3;
    }

    .navcontent a {
        font-size: 0.75rem;
    }

    .subnameblock h1 {
        font-size: 2rem;
    }

    .nameblock {
        flex-direction: row;
    }

    .middleblock {
        margin-top: 2rem;
    }

    .middleblock h2 {
        font-size: 1.1rem;
        color: var(--blueBC);
    }

    .hello {
        color: var(--halycon);
        font-size: 1.1rem;
        font-weight: bolder;
        margin-top: 10%;
    }

    .barSecond {
        translate: -5dvw -0.57rem;
    }

    .profile {
        flex-direction: column;
        margin-top: 2rem;
    }

    .profile img {
        width: 70%;
        max-width: 70%;
        border-radius: 50%;
    }

    .profileDetails {
        max-width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: justify;
        margin-top: 3rem;
    }

    .profileDetails p {
        font-size: 0.85rem;
    }

    .profileDetails h2 {
        color: var(--title-color);
        font-size: 1.5rem;
        word-spacing: 1rem;
    }

    .flexbox button {
        padding: 0.5rem;
        border-radius: 0.5em;
        width: 10rem;
        max-width: 30vw;
    }

    .spacer {
        height: 5vh;
    }

    #experienceContent {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #skills {
        margin-left: 10vw;
    }

    .spacediv {
        width: 100%;
    }

    .desktop_spacer {
        display: none;
    }
}

@media only screen and (max-width: 820px) {

    .nameblock {
        flex-direction: row;
    }

    .middleblock {
        margin-top: 2rem;
    }

    .hello {
        color: var(--halycon);
        font-size: 1.1rem;
        font-weight: bolder;
        margin-top: 10%;
    }

    .barSecond {
        translate: -5dvw -0.57rem;
    }

    .profile {
        flex-direction: column;
        margin-top: 2rem;
        justify-items: center;
        justify-content: center;
    }

    .profile img {
        width: 70%;
        max-width: 600px;
        border-radius: 50%;
    }

    .profileDetails {
        max-width: 70vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
        margin-top: 3rem;
    }

    .profileDetails p {
        font-size: 0.85rem;
    }

    .profileDetails h2 {
        color: var(--title-color);
        font-size: 1.5rem;
        word-spacing: 1rem;
    }

    .flexbox button {
        padding: 0.5rem;
        border-radius: 0.5em;
        width: 10rem;
        max-width: 30vw;
    }

    .recent {
        margin-left: 5vw;
    }

    .recent h2 {
        font-size: 1rem;
    }

    .recent ol {
        font-size: 0.85rem;
    }
}

/* ===== from style_experience.css ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    scroll-behavior: smooth;
}



body {
    display: flex;
    flex-direction: column;
    background-color: #03122b;
    min-height: 100vh;
    color: white;
    font-family: Rubik, sans-serif;
    overflow-x: clip;
}

.experience {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.expDate {
    grid-area: 1 / 1 / 2 / 2;
}

.expTitle {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
}


@media only screen and (min-width: 800px) {}

/* ===== from style_projects.css ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    scroll-behavior: smooth;
}



body {
    display: flex;
    flex-direction: column;
    background-color: #03122b;
    min-height: 100vh;
    color: white;
    font-family: Rubik, sans-serif;
    overflow-x: clip;
}

.project_cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 85vw;
    margin-left: 10vw;
    margin-right: 2vw;
    /*border: #f09d51 1px solid;*/
}

.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    max-width: 85vw;
    margin-left: 10vw;
    margin-right: 2vw;
}

.project_image {
    display: none;
}

.project_image2 {
    z-index: -1;
    display: block;
}

.project_image img:hover {
    cursor: pointer;
}

.project_image img,
.project_image p {
    display: none;
}

.project_image2 img {
    display: block;
    width: 50%;
    /*border-radius: 50%;*/
    position: center;
    justify-content: center;
    align-items: center;
    translate: 4rem 0;
}

.project_description {
    display: flex;
    width: 85vw;
    margin-right: 10vw;
}

.highlight {
    color: var(--title-color);
    font-size: 0.9rem;
    /*border-bottom: var(--title-color) 1px solid;*/
    /*padding:0.05rem;*/
}

.project_description p {
    font-weight: lighter;
    font-size: 0.7rem;
    color: var(--paper_color);
    line-height: 1.5rem;
    text-align: justify;
}

.project_cover .project_title {
    font-size: 1.2rem;
    font-weight: lighter;
    color: var(--title-color);
    /*color: var(--halycon);*/
    margin-bottom: 1rem;
    text-align: center;
}

.last_project {
    margin-bottom: 0;
}

@media only screen and (min-width: 800px) {
    .project {
        width: 100%;
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto;
        /*border: red 1px solid;*/
        margin: 0;
    }

    .project_image {
        display: flex;
        grid-area: 1 / 1 / 2 / 2;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 80%;
        position: center;
        gap: 0.5rem;
        /*border: #00eeb6 1px solid;*/
    }

    .project_image img {
        display: block;
        position: center;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .project_image2 img {
        display: flex;
        position: center;
        justify-content: center;
        align-items: center;
        width: 60%;
        border: none;
        border-radius: 0;
        translate: 3rem 0;
    }

    .project_image iframe {
        display: block;
        position: center;
        /*border: #f09d51 1px solid;*/
        max-width: 100%;
    }

    .project_image p {
        display: block;
        color: var(--blueBC);
        text-align: center;
        font-size: 0.8rem;
    }

    .project_image2 p {
        display: block;
        color: var(--blueBC);
        text-align: center;
        font-size: 0.8rem;
    }

    .project_description {
        display: flex;
        width: 100%;
        grid-area: 1 / 2 / 2 / 3;
    }

    .project_description p {
        font-size: 0.85rem;
    }
}

/* ===== from style_publications.css ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    scroll-behavior: smooth;
}



body {
    display: flex;
    flex-direction: column;
    background-color: #03122b;
    height: fit-content;
    min-height: 100vh;
    color: white;
    font-family: Rubik, sans-serif;
    overflow-x: clip;
}

a {
    text-decoration: none;
    color: #fff;
}

.nowrap {
    white-space: nowrap;
}

/* Main content */
.title {
    display: flex;
    background-color: var(--background_color);
    width: 80vw;
    max-width: 1024px;
    position: sticky;
    top: 2.5rem;
    justify-content: center;
    align-items: center;
    /*border-top: var(--halycon) 1px solid;*/
    margin-top: 3rem;
    z-index: 2;
}

#icra_title {
    border: none;
    position: sticky;
    top: 0;
}

#title_talk {
    top: 4.5rem
}

#title_book_chapter {
    top: 6.5rem;
}

.title p {
    color: var(--blueBC);
    font-size: 2rem;
    position: center;
}

.title p:hover {
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.year_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    width: 80vw;
    /*border: saddlebrown 1px solid;*/
}

.year_block p {
    font-size: 2rem;
}

.year {
    width: 100vw;
    background-color: var(--background_color);
    position: sticky;
    top: 4rem;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 2rem;
    padding-top: 0.5rem;
    background: var(--background_color);
    z-index: 0;
}

.experience {
    width: 100%;
    background-color: var(--background_color);
    position: sticky;
    top: 0;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 1.2rem;
    background: var(--background_color);
    z-index: 1;
}

.experience p:hover {
    cursor: pointer;
}

.experience2 {
    width: 120%;
    background-color: var(--background_color);
    position: sticky;
    top: 2.2rem;
    text-align: center;
    color: var(--title-color);
    margin-bottom: 1.2rem;
    background: var(--background_color);
    z-index: 1;
}

.experience2 p:hover {
    cursor: pointer;
}

.year_block ol li {
    color: var(--blueBC);
    font-size: 0.85rem;
    line-height: 1rem;
}

.paper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 80vw;
    margin-bottom: 2rem;
    margin-left: 5vw;
    /*border: white 3px solid;*/
}

.publications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    width: 80vw;
}

.talks {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    max-width: 1024px;
    width: 80vw;
}

.skillTitle {
    color: var(--title-color);
    font-size: 1rem;
    font-weight: lighter;
}

.last_paper {
    margin-bottom: 0;
}

.year_block:last-child {
    margin-bottom: 0;
}

.paper_title {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.action_row {
    display: flex;
    flex-direction: row;
    max-width: 20%;
}

.date_column {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 15%;
}

.action_row p {
    color: var(--blueBC);
    text-align: center;
}

.paper_title .paper_heading {
    color: var(--title-color);
    text-align: left;
    /*border: #00eeb6 1px solid;*/
}

.paper_title .awards {
    color: var(--title-color);
    text-align: left;
    /*border: #00eeb6 1px solid;*/
}

.paper_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*border: #f09d51 1px solid;*/
}

.paper_description button {
    padding: 0;
    border: none;
    background: none;
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
}

.paper_description button:hover,
.paper_description a:hover {
    scale: 1.2;
    transition-delay: 0.05s;
}

.paper_description img {
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
}

.paper_description p {
    font-size: 0.85rem;
    font-weight: lighter;
    color: var(--paper_color);
}

.paper_description .authors {
    font-size: 0.6rem;
    font-weight: lighter;
    margin-top: 1rem;
    text-align: left;
    width: 80vw;
    /*border: #f09d51 1px solid;*/
}

.paper_description a:hover {
    cursor: pointer;
}

.authors a {
    color: var(--blueBC);
}

.authors a:hover {
    color: var(--halycon);
}

.abstract p {
    font-size: 0.5rem;
    font-weight: lighter;
    text-align: justify;
    border-top: var(--halycon) 1px solid;
    margin-top: 1.5rem;
    padding-top: 0.5rem;
    line-height: 1.5rem;
    color: var(--paper_color);
}

#icra23_abstract,
#issac22_abstract,
#ark22_abstract,
#mmt22_abstract,
#mmt22_opt_abstract {
    display: none;
}

.skill_spacer {
    height: 5vh;
}

.spacer_small {
    height: 5vh;
}

.dummy_spacer {
    height: 30vh;
    width: 95vw;
    border: white 2px solid;
}

#skillsBlock {
    position: center;
    justify-content: center;
    align-items: center;
    max-width: 1024px;
    width: 80vw;
    /*border: #f09d51 1px solid;*/
}

#skills {
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    /*border: #00eeb6 1px solid;*/
}

#skills ol {
    list-style-position: inside;
}

@media only screen and (min-width: 800px) {
    .content {
        margin-top: 4rem;
    }

    .title {
        width: 90vw;
        margin-top: 0;
        border: none;
    }

    .title p {
        font-size: 3rem;
    }

    .year {
        position: sticky;
        top: 6rem;
    }

    .paper {
        width: 650px;
        margin-bottom: 5vh;
    }

    .publications {
        width: 650px;
        margin-bottom: 5vh;
    }

    .paper_description {
        flex-direction: row;
        margin-bottom: 0.5rem;
    }

    .paper_description p {
        font-size: 1rem;
    }

    .paper_description .authors {
        font-size: 0.8rem;
        width: fit-content;
    }

    .abstract p {
        font-size: 0.8rem;
    }
}

@media only screen and (min-width: 1000px) {
    .title {
        z-index: 1;
        width: 100vw;
        position: sticky;
        top: 2.5rem;
        border: none;
        margin-top: 0;
    }

    .title p {
        font-size: 3rem;
    }

    .year {
        position: sticky;
        top: 6rem;
    }

    .experience2 {
        position: sticky;
        top: 3.5rem;
    }

    #title_talk {
        top: 6rem
    }

    #title_book_chapter {
        top: 9rem;
    }
}

/* ===== from icra23.css ===== */

h2 {
    font-weight: lighter;
}

p {
    line-height: 2rem;
}

.question p {
    font-weight: lighter;
}

.cusp_contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border: white double;*/
    margin-top: 2rem;
}

.cusp_contents h1 {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.questionBox {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    position: center;
    justify-content: center;
    right: 25vw;
    margin-top: 2rem;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    padding: 1rem;
    /*border: #eeeeee dashed;*/
}

.imagebox {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    width: inherit;
    /*border: aqua 5px dotted;*/
    align-content: space-around;
    justify-content: center;

}

.imagebox img {
    width: 60%;
    background-color: white;
    border-radius: 0.2em;
}